._main_bar{
    height:100%;
    position: relative;
    overflow: hidden;
}
.RightMain{
    background: rgba(255, 240, 222, 0.7);
    font-family:Quicksand;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width:100%;
    height:100%;
    position:absolute;
    
    
  .width_90{  
    width:85%;
    height:100%;
    margin-top:2rem;

    .category{
        .cat_name{
            color: rgba(130, 130, 130, 1);
            margin-bottom:1rem;
            display: block;
        }
        
    }

    .shopping_list_name{
        margin-bottom:1rem;
        display: flex;
        justify-content: space-between;
        margin-bottom:1rem;
        align-items: center;
        p{
            font-size:1.25rem;
        }
        span{
            font-size:1.2rem;
        }
        button{
             border:none;
             background-color: transparent;
             outline: none;
        }
    }
    .bottle_left{
        width:100%;
        display: flex;
        background: rgba(128, 72, 91, 1);
        justify-content:space-between;
        padding: 0.4rem;
        box-sizing: border-box;
        align-items: center;
        border-radius:1rem;
        margin-bottom:1.3rem;
        div:nth-child(1){
            margin-top:-2rem;
        }
        div:nth-child(2){
            color: rgba(255, 255, 255, 1);
            font-size:1rem;
            flex-basis:65%;
            p{
                margin-bottom:1rem;
                font-size:1.1rem;
            }
            button{
                outline: none;
                border-radius:0.5rem;
                border:none;
                padding:0.5rem;
                box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
                color: rgba(52, 51, 58, 1);
                font-weight: 700;
                font-size:1rem;
           }
        }
    }
}

}