.Main_items{
    width:100%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 2rem 0 2rem;
    overflow-y: auto;
}