.navbar{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width:70px;
    background-color:#f7f7f2;

    .img{
        .Heart_img{
            aspect-ratio:1/1;
            max-width:2.5rem;
            margin:1.5rem 0;
            box-sizing: border-box;
        }
    }

    .options_center{
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         align-items: center;
         list-style: none;
         padding:0 !important;
         width:100%;


         .nav_tab{
            margin:1rem 0;
            display: flex;
            position: relative;
            width:100%;
            list-style: none;
            justify-content: center;
            cursor: pointer;
            align-items: center;
            text-decoration: none;
    
            &:hover,&:active{
                .tooltip{
                    visibility: visible;
                    animation:tab_select 1s ;
                }
             }

            .tooltip{
                position:absolute;
                left:110%;
                display: inline-block;
                width:auto;
                text-align: center;
                font-weight:500;
                background:rgba(69, 69, 69, 1);
                color: white;
                border-radius:5px;
                padding:0.35rem;
                visibility: hidden;
                transition:visibility 50ms ease-out;
                font-size:1rem;

                &::before{
                    content:" ";
                    position:absolute;
                    width:0px;
                    height:0px;
                    border:8px solid transparent;
                    transform: translate(20%,-50%);
                    border-right-color:rgba(69, 69, 69, 1);
                    top: 50%; right: 100%;
                }

                 

            }
            

            .orange_border{
              border:1px solid #f9a109;
              background-color: #f9a109;
              border-top-right-radius:5px;
              border-bottom-right-radius:5px;
              width:0.2rem;
              position:absolute;
              height:100%;
              left:0;
              right:0;
              opacity:0;
              transition-delay:100ms;
            }
            .material-icons{
                font-size:1.7rem;
                padding:0.8rem;
                color:rgba(69, 69, 69, 1);
            }
        }

    }
    .cart{
        margin:1.5rem 0;
        position: relative;
        isolation: isolate;
        cursor: pointer;
        
       
        .cart_{
            font-size:1.5rem;
            background-color: #f9a109;
            color:white;
            padding:0.4rem;
            border-radius:50%;
            border:1px solid white;
            
        }
        .cart_count{
            position: absolute;
            box-sizing: border-box;
            top:-10px;
            right:-5px;
            background: rgba(235, 87, 87, 1);
            padding:0;
            width:20px;
            height:20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius:50%;
            color: white;
            z-index:-1;
            border:1px solid #f9a109;
        }

    }
}
@keyframes tab_select {
    0%{
         transform:translateY(-5%);
    }
    50%{
         transform: translateY(10%);
    }
    100%{
        transform: translateY(0);
    }
}
.tab_active{
    .orange_border{
        opacity:1 !important;
        animation: tab_select 500ms;
    }
 }


