.analytics_chart{
    width:100%;

    .chart_name{
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin-bottom:2rem;
        
    }
}