body,html{
  margin: 0;
}
body{
  position: relative;
  background-color: rgba(213, 213, 219,0.5);

}

#root{
  display:grid;
  grid-template-columns:auto 2.1fr;
  position: relative;
  width:100%;
  box-sizing: border-box;
  height: calc(var(--vh, 1vh) * 100);
}
