body,html{
  margin: 0;
}
body{
  position: relative;
  background-color:#eeeeee;
  box-sizing: border-box;

}

#root{
  display:grid;
  grid-template-columns:auto 2fr 0.65fr;
  position: relative;
  width:100%;
  box-sizing: border-box;
  height: calc(var(--vh, 1vh) * 100);
}
