body,html{
  margin: 0;
}
body{
  position: relative;
  background-color:#eeeeee;

}

#root{
  display:grid;
  grid-template-columns:auto 2fr auto;
  position: relative;
  width:100%;
  box-sizing: border-box;
  height: calc(var(--vh, 1vh) * 100);
}
